/* Header */

#myjumbotron {
    width: 100%;
    padding: 0;
    text-align: center;
    background-image: url(../images/map-of-the-world-2401458_1920_copy.jpg);
    background-size: cover;
}

section {
    min-height: calc(100vh - 70px);;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
}

.mybtngrp {
    display: inline-block;
}

.abcbutton {
    margin: 6px 0;
}

.mybutton {
    margin: 0 10px;
    width: 25px;
    height: 25px;
}

.mybadge {
    margin-top: 10px;
    font-size: 16px;
}

.myspan {
    padding-top: 10px;
}

.answer-p {
    font-size: 16px;
}