/* Header */

#myjumbotron {
    width: 100%;
    padding: 0;
    text-align: center;
    background-image: url(../images/map-of-the-world-2401458_1920_copy.jpg);
    background-size: cover;
}

.mybtn {

}
section {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
}

div {
    border: 2px solid pink;
    width: 140px;
}

button {
    
}